C2PIE_PRIVATE_KEY_FILE=tests/credentials/private-key.pem
C2PIE_CERTIFICATE_CHAIN_FILE=tests/credentials/certificate-chain.pub
C2PIE_TSA_URL=http://timestamp.digicert.com
C2PIE_TSA_REQUIRED=true
C2PIE_TSA_LOG_DIR=/var/log/c2pie/tsa

# Paths to test files
TEST_PDF_PATH=tests/test_files/test_doc.pdf
TEST_IMAGE_PATH=tests/test_files/test_image.jpg