.idea
__pycache__
*.egg-info
build
dist
**/signed_*
# This file is needed for unit tests
!tests/fixtures/signed_signed_test_doc.pdf
.vscode/launch.json
.env
**/.ipynb_checkpoints
**/.Trash*
**/.DS_Store
